{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Базовая страница{% endblock title %}</title>
    {% block link %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    {% endblock link %}
</head>
    <body>
        <div id="wrapout">
            <header>
                <div class = "wrapin">
                    <div id="header_top">
                        <h1>
                            М - ФЕРМЕР
                        </h1>
                        
                            <div id="header_prof">
                                <a onclick=''><img src="{% static 'image/header_basket.png' %}" alt="Корзина"></a>
                                <a onclick=''><img src="{% static 'image/header_profile.png' %}" alt="Профиль"></a>
                            </div>
                    </div>
                    <nav>
                        <a href="">Главная</a>
                        <a href="">Каталог</a>
                        <a href="">Категории</a>
                        <a href="">Контакты</a>
                        <a href="">Доставка и оплата</a>
                    </nav>
                    <div id="search">
                        <p>Поиск продуктов</p>
                        <input type="search">
                    </div>
                </div>
            </header>
            {% block content %}
            {% endblock content %}

            <footer>
            <div class = "wrapin">
            <div id="mark">М - фермер</div>
            <div id="info_list">
                <ul>
                    <li>
                        <a href="">Каталог</a>

                        </li>
                </ul>
                <ul>
                    <li><a href="">Категории</a></li>
                    <li><a href="">Доставка и оплата</a></li>
                </ul>
                <ul>
                </ul>
            </div>
            <div id="connect">
                <ul id="cnumber">
                    <li>
                        <a href=""><img src="{% static 'image/ico/call.png' %}"></a> 
                    </li>
                    <li>
                        (8362) 45-29-55
                    </li>
                </ul>
                <ul id="ico">
                    <li>
                        <a href=""> <img src="{% static 'image/ico/telegram.png' %}"></a>
                    </li>
                    <li>
                        <a href=""> <img src="{% static 'image/ico/inst.png' %}"></a>
                    </li>
                    <li>
                        <a href=""><img src="{% static 'image/ico/wa.png' %}"></a>
                    </li>
                    <li>
                        <a href=""> <img src="{% static 'image/ico/fb.png' %}"></a>
                    </li>
                </ul>
            </div>
            </div>
            </footer>
        </div>
    </body>
{% block scripts %}{% endblock scripts %}
</html>