{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <div class = "wrapin">
            <div id="contact_info">
                    <p>Если у Вас есть вопросы или предложения напишите или позвоните нам, мы всегда рады видеть по адресу:</p>
                    <p>Республика Марий Эл, г.Йошкар-Ола, ул. Красноармейская, д.41</p>
                    <p>В связи с пандемией коронавируса COVID-19 приём посетителей ограничен!</p>

                    <p>Для связи воспользуйтесь пожалуйста контактной формой или напишите нам на адрес эл. почты:</p>
                    <p>minselhoz@aris.mari.ru</p>

                    <p>Тел. (8362) 45-29-55, факс (8362) 45-58-48</p>
            </div>
        </div>
    </main>
{% endblock content %}