{% extends 'base.html' %}
{% load static %}
{% block title %}М-фермер{% endblock title %}
{% block content %}
    <main>
        <div class = "wrap">
            <h3>Выгодные предложения</h3>
            <div id="catalog">
            <ul>
                {% for sort in sorts %}
                <li>
                    <a href="{{ sort.get_absolute_url }}">
                    {% if sort.image %}
                    <img src="{{ sort.image.url }}" alt="Каталог">
                    {% else %}
                    <img src="{{ sort.product.image.url }}" alt="Каталог">
                    {% endif %}
                    <div class="name">
                    {{ sort.get_name }}
                    </div>
                    <div class="price">
                        {{ sort.get_price }}
                    </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </main>
{% endblock content %}