{% extends 'base.html' %}
{% load static %}
{% block title %}М-фермер{% endblock title %}
{% block content %}
    <main>
        <div class = "wrap">
            <h3>Выгодные предложения</h3>
            <div id="catalog">
            <ul>
                {% for product in products %}
                <li>
                    <a href="{{ product.get_absolute_url }}">
                    {% if product.sort.image %}
                    <img src="{{ product.sort.image.url }}" alt="Каталог">
                    {% else %}
                    <img src="{{ product.sort.product.image.url }}" alt="Каталог">
                    {% endif %}
                    <div class="name">
                    {{ product.get_name }}
                    </div>
                    <div class="price">
                        {{ product.get_price }}
                    </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </main>
{% endblock content %}